{% load static wagtailcore_tags %}

<nav class="navbar navbar-expand-lg">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img src="{% static 'images/emblem.png' %}" alt="Герб ліцею" height="50" style="border-radius: 4px;">
            <span>Миколаївський ліцей №9</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/">Головна</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/news/">Новини</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about/">Про ліцей</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/staff/">Колектив</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admissions/">Вступ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/schedule/">Розклад</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div style="height: 68px;"></div>